backend/accounts/__pycache__/
backend/accounts/migrations/
backend/medicare/__pycache__/
.env
.venv/
backend/staticfiles/
backend/templates/index.html



frontend/node_modules/
frontend/package-lock.json
frontend/build/
